:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100vw;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

#root {
  width: 100%;
  box-sizing: border-box;
}
